@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@400;500;700&display=swap');

/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

// variables -- FONT
$font-homePage: 'Pacifico', cursive;
$font-body: 'Rubik', sans-serif;

// variables -- COLORS
$color-background:#f8f5ef; //  #ebe5d9
$color-background-hover: #dfddd7;
$color-green: #D7F5D1;
$color-pink: #FFD8E1;
$color-yellow: #F5E2A4;
$color-blue: #BCD8FC;
$color-purple: #c2c0ec;
$color-peach: #f7d5bf;
$color-font-heading: #07515F;
$color-font-body: #0b7285;
$color-font-hover: #6daab6;
$color-skills-active: #b2dde5;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-size: 1.8rem;
  background-color: $color-background;
  color: $color-font-heading;

  position: relative;

  // height: 100vh;
  // box-shadow: 0px 50px 50px $color-background;

  @include flex-center;
  background: linear-gradient(45deg, $color-green, $color-yellow, $color-peach, $color-pink, $color-blue, $color-purple);
  background-size: 400%;
  animation: bgAnimation 20s linear infinite;
}

// background animation
@keyframes bgAnimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

section {
  min-width: 100rem;
  margin: 0 auto 4.8rem;
}

h1, h3 {
  font-family: $font-homePage;
}

.container-page {
  // @include flex-center;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.subheading {
  letter-spacing: 0.75px;
  font-weight: 500;
  font-size: 1.8rem;
  color: $color-font-body;
}

// ************** HERO *****************
.hero {
  height: 100vh;
  margin-bottom: 0;
  @include flex-center;

  div {
    max-width: 80rem;
    position: relative;
  }

  h3 {
    color: $color-font-body;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
  }

  h1 {
    font-size: 6.2rem;
    text-align: center;
  }

  p {
    color: $color-font-body;
    font-size: 2rem;
    text-align: center;
    margin-top: 8rem;
  }
}


// ***************** NAVIGATION *****************
.navigation {
  width: 100vw;
  position: absolute;
  top: 3.6rem;
  @include flex-center;

  ul {
    width: 50vw;
    @include flex-center;
    justify-content: space-around;
    list-style-type: none;

    li {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  a {
    text-decoration: none;
    color: $color-font-heading;
    padding: 0.5rem 1rem;

    &:hover, &:active {
      color: $color-font-hover;
      background-color: $color-background;

      border-radius: 2rem;
      box-shadow: 0px 0px 20px $color-background;
    }
  }
}

// ************** BUBBLE *****************
.container-bubble {
  width: 8rem;
  height: 8rem;
  // position: absolute;
  top: 7.5rem;
  left: 65rem;
  // left: 0;
  animation: bubble 8s ease-in-out infinite;
}

.bubble {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 75% 30%, #fff 5px, #ff21c0 8%, #5b5b5b 60%, #ff21c0 100%);
  border-radius: 50%;
  box-shadow: inset 0 0 20px #fff,
              inset 10px 0 46px #eaf5fc,
              inset 50px 0 80px #efcde6,
              inset -10px -30px 50px #f9f6de,
              // inset 0 20px 70px #f9f6de,
              0 0 30px #fff;
}

@keyframes bubble {
  0%, 100% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1);
  }
}

// ************** SKILLS *******************
.skills {
  min-width: 100rem;
  margin: 0 auto 4.8rem;
}

.subheading {
  margin-bottom: 2.5rem;
}

.tabs {
  margin: 0 auto;
  border: 1px solid #cccbc6;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.076);
  border-radius: 1rem;
}

ul.tab-nav {
  margin: 1.6rem 0 3.6rem 2.4rem;
  font-weight: 500;
  @include flex-center;
  justify-content: space-around;

  li {
    padding: 0.8rem 1.8rem;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-radius: 0;

    &:first-child {
      border-bottom-left-radius: 2rem;
      border-top-left-radius: 2rem;
    }

    &:last-child {
      border-bottom-right-radius: 2rem;
      border-top-right-radius: 2rem;
    }

    &:hover, &:active {
      background: $color-skills-active;

    }
  }
}

.active {
  background: $color-skills-active;
}

.tabContent {
  margin: 0 4.8rem 4.8rem;
  color: $color-font-body;
  list-style: none;
  @include flex-center;
  justify-content: space-around;
  gap: 1.8rem;
}

// ************** PROJECTS *****************
.section-projects {
  max-width: 100rem;
  margin: 0 auto;

  h2 {
    letter-spacing: 0.75px;
    font-weight: 500;
  }
}

.container-card {
  @include flex-center;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 2.4rem;
}

.project-card {
  color: $color-font-heading;
  font-size: 2rem;
  @include flex-center;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.1);

  .project-img {
    width: 60rem;
    height: 40rem;
    object-fit: contain;
  }
  .project-name {
    font-size: 3.6rem;
    font-weight: 500;
  }

  .project-tech {
    margin-top: 0.8rem;
    display: flex;
    gap: 0.8rem;
    list-style-type: none;
  }

  .project-description {
    color: $color-font-body;
    margin-top: 1.6rem;
  }
}