@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@400;500;700&display=swap");
/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  background-color: #f8f5ef;
  color: #07515F;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #D7F5D1, #F5E2A4, #f7d5bf, #FFD8E1, #BCD8FC, #c2c0ec);
  background-size: 400%;
  animation: bgAnimation 20s linear infinite;
}

@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
section {
  min-width: 100rem;
  margin: 0 auto 4.8rem;
}

h1, h3 {
  font-family: "Pacifico", cursive;
}

.container-page {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.subheading {
  letter-spacing: 0.75px;
  font-weight: 500;
  font-size: 1.8rem;
  color: #0b7285;
}

.hero {
  height: 100vh;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero div {
  max-width: 80rem;
  position: relative;
}
.hero h3 {
  color: #0b7285;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}
.hero h1 {
  font-size: 6.2rem;
  text-align: center;
}
.hero p {
  color: #0b7285;
  font-size: 2rem;
  text-align: center;
  margin-top: 8rem;
}

.navigation {
  width: 100vw;
  position: absolute;
  top: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.navigation ul li {
  font-size: 1.8rem;
  font-weight: 400;
}
.navigation a {
  text-decoration: none;
  color: #07515F;
  padding: 0.5rem 1rem;
}
.navigation a:hover, .navigation a:active {
  color: #6daab6;
  background-color: #f8f5ef;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px #f8f5ef;
}

.container-bubble {
  width: 8rem;
  height: 8rem;
  top: 7.5rem;
  left: 65rem;
  animation: bubble 8s ease-in-out infinite;
}

.bubble {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 75% 30%, #fff 5px, #ff21c0 8%, #5b5b5b 60%, #ff21c0 100%);
  border-radius: 50%;
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc, inset 50px 0 80px #efcde6, inset -10px -30px 50px #f9f6de, 0 0 30px #fff;
}

@keyframes bubble {
  0%, 100% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
}
.skills {
  min-width: 100rem;
  margin: 0 auto 4.8rem;
}

.subheading {
  margin-bottom: 2.5rem;
}

.tabs {
  margin: 0 auto;
  border: 1px solid #cccbc6;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.076);
  border-radius: 1rem;
}

ul.tab-nav {
  margin: 1.6rem 0 3.6rem 2.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
ul.tab-nav li {
  padding: 0.8rem 1.8rem;
  list-style: none;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-radius: 0;
}
ul.tab-nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.tab-nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.tab-nav li:hover, ul.tab-nav li:active {
  background: #b2dde5;
}

.active {
  background: #b2dde5;
}

.tabContent {
  margin: 0 4.8rem 4.8rem;
  color: #0b7285;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 1.8rem;
}

.section-projects {
  max-width: 100rem;
  margin: 0 auto;
}
.section-projects h2 {
  letter-spacing: 0.75px;
  font-weight: 500;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 2.4rem;
}

.project-card {
  color: #07515F;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.1);
}
.project-card .project-img {
  width: 60rem;
  height: 40rem;
  object-fit: contain;
}
.project-card .project-name {
  font-size: 3.6rem;
  font-weight: 500;
}
.project-card .project-tech {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.8rem;
  list-style-type: none;
}
.project-card .project-description {
  color: #0b7285;
  margin-top: 1.6rem;
}

/*# sourceMappingURL=globals.css.map */
